<a href="https://colab.research.google.com/github/DataScientistMSBA/DataSources/blob/main/Growjo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Run PreLoads

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests 
from lxml import html

Run Script

In [ ]:
page=1; Company = []; Country = []; Funding = []; Industry = []; Employees = []; Revenue = []; EmpGrowthPct = [];

while page <=200:
  i=0
  url_growjo = f'https://growjo.com/home/{page}'
  response = requests.get(url_growjo)
  tree = html.fromstring(response.content)

  while i<=50:
    attr_company = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[2]/a')
    attr_country = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[4]')
    attr_funding = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[5]')
    attr_industry = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[6]/a')
    attr_employees = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[7]')
    attr_revenue = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[8]/text()[2]')
    attr_empgrowthpct = tree.xpath(f'//*[@id="root"]/div/div/main/div/div/div/div[2]/div[2]/div[1]/div/div[1]/div/table/tbody/tr[{i}]/td[9]')
    i+=1
    for attr in attr_company:
      Company.append(attr.text)
    for attr in attr_country:
      Country.append(attr.text)
    for attr in attr_funding:
      Funding.append(attr.text)
    for attr in attr_industry:
      Industry.append(attr.text)
    for attr in attr_employees:
      Employees.append(attr.text)
    for attr in attr_revenue:
      Revenue.append(attr)
    for attr in attr_empgrowthpct:
      EmpGrowthPct.append(attr.text)
  page+=1
Results = pd.DataFrame([Company,Country,Funding,Industry,Employees,Revenue,EmpGrowthPct]).T.rename(columns={0:'Company', 1:'Country', 2:'Funding', 3:'Industry', 4:'Employees', 5:'Revenue', 6:'Emp Growth %'})
Results

,Company,Country,Funding,Industry,Employees,Revenue,Emp Growth %
0,OpenSea,USA,$427.2M,Fintech,762,1.2B,2114
1,Axie Infinity,Vietnam,$9M,Fintech,362,1.3B,1158
2,SellerX,Germany,$766M,eCommerce,458,417.4M,810
3,JOKR,USA,$430M,Delivery,626,9.3M,920
4,Oyster,USA,$14M,HRTech,575,83.5M,542
...,...,...,...,...,...,...,...
9974,Aerovac,None,None,Aviation,63,13.7M,68
9975,L4RG,None,None,Marketing,52,13.9M,69
9976,MATRIX BEHAVIOR...,USA,None,Hospital/Healthcare,60,15.1M,66
9977,Sales Internshi...,USA,None,Environmental,65,11.7M,68
9978,Mudrabiz- It Ta...,India,None,Finance,67,5.9M,68